@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

body {
    color: #fff;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    text-align: center;
    font-family: 'Godo';
    background-image: url(bg.png);
    background-size: cover;
    word-break: keep-all;
}

h1 {
    margin: 20px;
    padding: 20px;
    min-height: 10dvh;
}

.title {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: #fff;
    font-size: 20px;
    font-family: 'Godo' !important;
    font-style: normal !important;
    width: 200px;
    height: 70px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    border-radius: 15px;
}

.common {
    background-color: rgba(0, 255, 0, 0.4);
    border-color: rgba(0, 255, 0, 0.7);
}

.rhythm {
    background-color: rgba(131, 204, 255, 0.4);
    border-color: rgba(131, 204, 255, 0.7);
}

.youtube {
    background-color: rgba(255, 0, 0, 0.4);
    border-color: rgba(255, 0, 0, 0.7);
}