* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*텍스트 및 요소 기본 설정*/
.main {
    color: #fff;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    text-align: center;
    font-size: 35px;
    font-family: 'godoMaum';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30dvh;
}

/*고도마음체 불러오기*/
@font-face {
    font-family: 'godoMaum';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/godoMaum.woff') format('woff');
    font-style: normal;
}

/*타이틀 설정*/
.title {
    margin: auto;
}